<!DOCTYPE html>
<html Lang="es">
	<head>
		<title>Crow</title>
		<link rel="icon" type="image/png" href="https://i.imgur.com/lCwuYLb.png"/>
	</head>
	<body background="https://i.imgur.com/En5Zqv5.png">
		<div align="right">
			<h1><p style="color:MidnightBlue">Crow</p></h1>
			<br/>
			<br/>

			<h5><p style="color:MidnightBlue">Iniciar Sesión</p></h5>
			<form action="/" method="POST">
				<input type="text" name="username2" placeholder="Usuario">
				<br/>
				<br/>
				<input type="password" name="password3" placeholder="contraseña" style="color:MidnightBlue">
				<br/>
				<br/>
				<input type="submit" name="ONE" value="Entrar" style="color:MidnightBlue">
				<p>{{error1}}</p>
				<br/>
				<br/>
				<br/>
				<h5><p style="color:MidnightBlue">Registrarse</p></h5>
				<input type="text" name="username" placeholder="Usuario" style="color:MidnightBlue">
				<br/>
				<br/>
				<input type="password" name="password" placeholder="contraseña" style="color:MidnightBlue">
				<br/>
				<br/>
				<input type="password" name="password2" placeholder="confirmar contraseña" style="color:MidnightBlue">
				<br/>
				<br/>
				<p><input type="submit" name="ONE" value="Registrarse" style="color:MidnightBlue">
				<p style="color:MidnightBlue">{{error2}}</p>
				<p style="color:MidnightBlue">{{bien}}</p>
			</form>
		</div>
	</body>
</html>
